.content {
  margin: 0 auto;
  max-width: 960px;
  line-height: 1.2;
}

li {
  margin: .5em 0;
}

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.strike {
  text-decoration: line-through;
}
