.content {
  margin: 0 auto;
  max-width: 960px;
  line-height: 1.2;
}

li {
  margin: .5em 0;
}

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.strike {
  text-decoration: line-through;
}

.formplus {
  border: none;
  overflow: hidden;
  background-color: transparent;
  padding-bottom: 32px;
}

#sponsors {
  display: table-cell;
}

#sponsors a {
  padding: 0;
}

#sponsors .pure-u-1-3 {
  vertical-align: middle;
}

#sponsors img {
  max-width: 100%;
}

.fb-like {
  margin: 1em 0;
}
