<nav class="navbar" role="navigation" aria-label="dropdown navigation">
  <div class="navbar-item has-text-weight-bold">RUSSE</div>

  <a class="navbar-item" href="{{ "/" | prepend: site.baseurl }}">About</a>

  <a class="navbar-item" href="{{ "/news" | prepend: site.baseurl }}">News</a>

  <div class="navbar-item has-dropdown is-hoverable">
    <a class="navbar-link">Events</a>

    <div class="navbar-dropdown">
      <a class="navbar-item" href="{{ "/2017/wsi" | prepend: site.baseurl }}">Word Sense Induction (2017)</a>
      <a class="navbar-item" href="{{ "/2014/sim" | prepend: site.baseurl }}">Semantic Similarity (2014)</a>
    </div>
  </div>

  <a class="navbar-item" href="{{ "/downloads" | prepend: site.baseurl }}">Downloads</a>
  <a class="navbar-item" href="//github.com/nlpub/russe">GitHub</a>
</nav>
