<a href="#menu" id="menuLink" class="menu-link">
  <span></span>
</a>

<div id="menu">
  <div class="pure-menu pure-menu-open">
    <a class="pure-menu-heading" href="#">RUSSE</a>

    <ul>
      <li class="pure-menu-selected">
        <a href="/">Home</a>
      </li>
      <li><a href="/news/">News</a></li>
      <li><a href="/call/">Call for Participation</a></li>
      <li><a href="/task/">Task Description</a></li>
      <li><a href="/results/">Results</a></li>
    </ul>
  </div>

  <div id="sponsors" class="pure-g">
    <div class="pure-u-1-2">
      <a href="http://nlpub.ru/"><img class="pure-img sponsor" src="/sponsors/nlpub.png" alt="NLPub"></a>
    </div>
    <div class="pure-u-1-2">
      <a href="http://digsolab.ru/"><img class="pure-img sponsor" src="/sponsors/digsolab.png" alt="Digsolab"></a>
    </div>
    <div class="pure-u-1-2">
      <a href="http://www.dialog-21.ru/"><img class="pure-img sponsor" src="/sponsors/dialog.png" alt="Dialogue"></a>
    </div>
    <div class="pure-u-1-2">
      <a href="http://it-claim.ru/"><img class="pure-img sponsor" src="/sponsors/claim.png" alt="CLAIM"></a>
    </div>
  </div>
</div>
