---
layout: default
---

<div class="columns">
<div class="column is-two-thirds">
{{ content }}
</div>
<div class="column">
<h2>Contents</h2>
<ul>
<li><a href="{{ "/2022/tox/#motivation" | prepend: site.baseurl }}">Motivation</a></li>
<li><a href="{{ "/2022/tox/#task_formulation" | prepend: site.baseurl }}">Task Formulation</a></li>
<li><a href="{{ "/2022/tox/#dataset" | prepend: site.baseurl }}">Dataset</a></li>
  <ul>
    <li><a href="{{ "/2022/tox/#data_collection" | prepend: site.baseurl }}">Data collection pipeline</a></li>
    <li><a href="{{ "/2022/tox/#definition_toxicity" | prepend: site.baseurl }}">Definition of toxicity</a></li>
  </ul>
<li><a href="{{ "/2022/tox/#evaluation" | prepend: site.baseurl }}">Evaluation</a></li>
  <ul>
    <li><a href="{{ "/2022/tox/#automatic_evaluation" | prepend: site.baseurl }}">Automatic evaluation</a></li>
    <li><a href="{{ "/2022/tox/#human_evaluation" | prepend: site.baseurl }}">Human evaluation</a></li>
  </ul>
<li><a href="{{ "/2022/tox/#general_rules" | prepend: site.baseurl }}">General rules</a></li>
<li><a href="{{ "/2022/tox/#baselines" | prepend: site.baseurl }}">Baselines</a></li>
<li><a href="{{ "/2022/tox/#results" | prepend: site.baseurl }}">RESULTS</a></li>
<li><a href="{{ "/2022/tox/#important_dates" | prepend: site.baseurl }}">Important dates</a></li>
<li><a href="{{ "/2022/tox/#participate" | prepend: site.baseurl }}">Participate</a></li>
<li><a href="{{ "/2022/tox/#organizers" | prepend: site.baseurl }}">Organizers</a></li>
<li><a href="{{ "/2022/tox/#acknowledgements" | prepend: site.baseurl }}">Acknowledgements</a></li>
<li><a href="{{ "/2022/tox/#references" | prepend: site.baseurl }}">References</a></li>
</ul>  
</div>
</div>
