---
navigation:
- text: Home
  url: /
  href: /
- text: News
  url: /news.html
  href: /news
- text: Call for Participation
  url: /call.html
  href: /call
- text: Task Description
  url: /task/
  href: /task
- text: Results
  url: /results.html
  href: /results
- text: Semantic Relatedness
  url: /rsr.html
  href: /rsr
---

<!DOCTYPE html>
<html>
{% include head.html %}
<body>
<div id="layout">
{% include menu.html %}
<div id="content">
{% include header.html %}
{{ content }}
{% include footer.html %}
</div>
</div>
{% include foot.html %}
</body>
</html>
